h1 {
  margin: auto;
  margin-bottom: 2.5%;
  width: 25%;
  text-align: center;
  color: orange;
}

.calc-container {
  background-color: black;
  border-radius: 10px;
  width: 320px;
  height: 468px;
  margin: auto;
}

.display-screen {
  background-color: gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  margin: auto;
  height: 84px;
  font-size: 72px;
  font-family: 'Helvetica';
  text-align: right;
  box-sizing: border-box;
  padding: 2%;
}

.operators {
  background-color: orange;
  height: 75px;
  width: 75px;
  border: 1px black solid;
  font-size: 72px;
  text-align: center;
  color: white;
  border-radius: 5%;
}
